/*section filtre*/
#filters {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 40px;
}

/*titre niveau 2*/
#filters h2 {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 0px;
    padding-top: 10px;
}

/*titre plus icones et mots*/
#filters .bloc-filtre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
    gap: 25px;
}

/*éléments de choix et icones*/
#filters .ligne-choix {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0px;
}

/*encadrement*/
.ligne-choix .choix {
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    gap: 15px;
}

/*couleur icones*/
#filters i {
    color: #0065FC;
}

/*misee en forme  des textes*/
#filters a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

/*effet sur les choix de recherche*/
.choix:hover {
    background-color: #deebff;
}

/*placement de l'icone et texte d'info*/
.info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

/* icone info*/
.info div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 solid 2px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    color: #0065FC;
}