/*style version tablette*/
@media screen and (min-width: 769px) and (max-width: 992px) {

    /*changement mise en page de la section hébergement*/
    #hebergement {
        display: flex;
        flex-direction: column;
    }

    /*dimension bloc hébergement*/
    #hebergement .bloc_hebergement {
        width: 100%;
    }

    /*mise en page bloc populaire*/
    #bloc_pop {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 230px;
    }

    /*titre du bloc populaire*/
    .bloc_titre {
        width: 100%;
        justify-content: space-between;
    }

    .courbe {
        padding-right: 30px;  
    }

    /*dimension carte populaire*/
    .card_pop {
        width: 33%;
        margin-bottom: 20px;
    }

}

/*style version mobile*/
@media screen and (min-width: 357px) and (max-width:768px) {

    /*mise en page du header*/
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        width: 100%;
        margin-top: 20px;
    }

    /*taille du logo*/
    img {
        width: 20%;
        margin-bottom: 40px;
    }

    /*misee en page du menu*/
    header nav {
        margin: 0px;
        width: 100%;
    }

    /* liste d'éléments menu*/
    header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 30px;
        margin-bottom: 30px;
        gap: 0px;
    }

    header nav ul li {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 32px;
        border-bottom: 3px solid #F2F2F2;

    }

    /*effet du menu*/
    header nav ul li:hover {
        border-bottom: 3px solid #0065FC;

    }

    header nav ul li a {
        padding: 0px;
        height: 20px;
    }

    header nav ul li a:hover {
        padding: 0px 0px 0px 0px;
        border-top: none;
    }

    /*barre de recherche*/
    #search {
        margin: 10px 20px 20px 20px;
    }

    #search p {
        margin-bottom: 30px;
    }

    /*mise en page du formulaire*/
    form {
        width: 100%;
    }

    form .recherche {
        display: none;
    }

    /*bouton loupe apparent en version mobile*/
    form .loupe {
        display: flex;
        border: solid 2px #0065FC;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #0065FC;
        color: white;
        cursor: pointer;
        padding: 0px 10px 0px 0px;
    }

    form .loupe i {
        padding: 10px 0px 0px 10px;
    }


    /*section filtre*/
    #filters {
        margin: 0px 0px 20px 20px;
    }

    #filters .bloc-filtre {
        flex-direction: column;
        margin: 15px 0px 15px 0px;
    }

    #filters .ligne-choix {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ligne-choix .choix {
        width: 40%;
        padding: 0px 0px 0px 7px;
        height: 40px;
        gap: 8px;
        align-items: center;
    }

    #filters a {
        font-size: 14px;
    }

    .info {
        margin: 20px 0px 10px 0px;
    }



    /*section hébergement*/
    #hebergement {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
    }

    .bloc_hebergement h2{
        margin: 20px 0px 15px 20px;
    }

    /*proportion bloc populaire*/
    #bloc_pop {
        width: 100%;
        border-radius: 0px;
    }

    .bloc_titre {
        justify-content: space-between;
    }

    .courbe {
        padding-right: 30px;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 90%;
        height: 210px;
    }

    .card_pop figure {
        display: flex;
        height: 120px;
    }

    .card_pop figure img {
        width: 100px;
    }

    /*bloc hébergement*/
    .bloc_hebergement {
        width: 100%;
        height: 1500px;
        background: white;
    }

    .bloc_card_hebergement {
        margin: 0px;
    }

    .bloc_ligne_hebergement {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .bloc_card_hebergement div p {
        padding: 0px 0px 10px 10px;
    }

    figure.picture {
        height: 120px;
    }

    figure.picture img {
        height: 120px;
        margin: 0px;
    }

    #hebergement div .afficherplus {
        display: none;
    }


    /*bloc activités*/
    #activites {
        margin: 30px 20px 0px 20px;
    }

    #activites h2 {
        width: 50%;
    }

    .bloc_activites {
        flex-direction: column;
    }

    .card_activites {
        height: 170px;
    }

    .card_activites figure img {
        height: 120px;
        margin: 0px;
    }


    /*footer*/
    #footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 40px 0px 0px 0px;
    }

    .footer_description {
        margin-left: 20px;
        margin-bottom: 30px;
    }
}