/*début bloc recherche*/
#search {
    display: flex;
    flex-direction: column;
    margin: 40px 20px 20px 40px;
}

/*titre niveau1*/
h1 {
    display: flex;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    margin: 0px 0px 15px 0px;
}

/*paragraphe*/
p {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 15px 0px;
}

/*formulaire*/
form {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
/*champ de saisie de texte*/
form input {
    outline: none;
    border: solid 1px #f2f2f2;
    padding-left: 10px;
}

/*indice qui décrit la valeur attendue*/
input::placeholder {
    color: black;
    font-weight: bold;
    opacity: 1;
    /*pour que se soit en gras sur firefox*/
}

/*bouton rechercher*/
form .recherche {
    border: solid 2px #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

/*bouton loupe qui apparait en vue mobile*/
form .loupe {
    display: none;

}

/*icone localisation*/
form .icone {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px #f2f2f2;
    background-color: #f2f2f2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 40px;
    width: 40px;
}